// // Set your brand colors

// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables

$dark-bg: #363636;
$text-dark: #c2c2c2;
$text-dark-light: #e7e7e7;

// // Update some of Bulma's component variables

$control-border-width: 2px;
$input-background-color: $dark-bg;
$input-border-color: transparent;
$input-shadow: none;
$input-color: $text-dark-light;
$input-focus-border-color: none;
$input-focus-box-shadow-color: none;
$input-icon-active-color: hsl(0, 0%, 86%);
$footer-background-color: $dark-bg;

body {
  min-height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import '~bulma/bulma';
